/* Container principale che occupa l'intera altezza della viewport */
.attivita-interne {
    min-height: 100vh; /* Altezza minima pari all'intera viewport */
    background-color: #f8f9fa;
    padding: 20px;
}
  
.main-content-attivita {
    margin: 1% auto 0;           /* Margine superiore del 3% e centrato orizzontalmente */
    padding: 20px;               /* Padding di 20px su tutti i lati */
    background-color: #ffffff;   /* Sfondo bianco */
    display: flex;               /* Layout a flexbox */
    flex-direction: column;      /* Elementi allineati in colonna */
    gap: 1.5rem;                /* Spazio tra gli elementi figli */
    max-width: 100%;            
    border-radius: 0.5rem;           /* Larghezza massima al 100% (o imposta un valore fisso se necessario) */
    border: 1px solid #e5e7eb;
    border-radius: 1rem;

}
  
  /* Stile del titolo della pagina */
  .page-title {
    color: #333; /* Colore nero per il testo */
    font-size: 1.5rem; /* Dimensione del font più grande */
    margin: 0; /* Rimuove il margine predefinito */
 }
  /* Stile del sottotitolo della pagina */
  .page-subtitle {
    color: #666; /* Colore grigio per il testo */
    font-size: 1rem; /* Dimensione del font più piccola */
    margin-top: 0.1rem; /* Spazio sopra il sottotitolo */
  }
  
  /* Griglia per le carte delle attività */
  .activities-grid {
    display: grid; /* Layout a griglia */
    grid-template-columns: repeat(3, 1fr); /* Griglia responsive */
    gap: 1.5rem; /* Spazio tra le carte */
    margin-top: 0%; /* Spazio sopra la griglia */
  }
    /* Quando la larghezza del viewport è inferiore a 900px, usa 2 colonne */
    @media (max-width: 1000px) {
    .activities-grid {
      grid-template-columns: repeat(2, 1fr);
        }
    }
  
  /* Quando la larghezza del viewport è inferiore a 600px, usa 1 colonna */
    @media (max-width: 700px) {
    .activities-grid {
      grid-template-columns: 1fr;
     }
    }
  
  /* Stile del placeholder per le carte attività */
  .activity-card-placeholder {
    background-color: #e0e0e0; /* Colore grigio chiaro per i placeholder */
    border-radius: 0.5rem; /* Bordi arrotondati */
    height: 500px; /* Altezza fissa per i placeholder */ 
    width: auto; /* Larghezza automatica */
}


    /* Stile della carta attività */
    .activity-card {
        background-color: #fff; /* Colore bianco per la carta */
        border-radius: 0.5rem; /* Bordi arrotondati */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombra leggera */
        padding: 1rem; /* Spazio interno */
        transition: transform 0.2s; /* Transizione per l'effetto hover */
        cursor: pointer; /* Cambia il cursore al passaggio */
     }
  
    /* Stile della carta attività al passaggio */
    .activity-card:hover {
     transform: translateY(-5px); /* Sposta la carta in alto */
    }
    /*activity card e activgity card hover non in funzione*/