html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    background-color: #e7ebee;

    
  }

  .main-content {
    margin-top: 40px; /* Per non sovrapporsi alla navbar */
    padding: 2rem; /* Spazio interno per il contenuto */
    min-height: calc(100vh - 60px); /* Adatta il contenuto sotto la navbar */
    background-color: #e7ebee;
  }
